#responsive-design-sliders {
  display: none;
}

.ui-slider {
  clear: both;
}

.col-width-label {
  float: left;
  margin: 5px 20px;
}

.col-width-label span {
  font-weight: bold;
  font-size: larger;
}

#col-width-labels, #xs-col-width-labels, #sm-col-width-labels, #md-col-width-labels, #lg-col-width-labels {
  overflow: hidden;
}

label {
  font-weight: bold;
  margin: 10px 0;
  display: block;
  float: left;
}

label[for="responsive-design"], label[for="xs-full-width"], label[for="sm-full-width"] {
  display: inline;
  margin-right: 10px;
}

label[for="col-widths"], label[for="xs-col-widths"] {
  clear: both;
}

input[type="submit"] {
  margin-top: 20px;
}

input[type="checkbox"] {
  margin-top: 10px;
}

textarea {
  width: 100%;
  resize: vertical;
  min-height: 6em;
}

body {
  margin: 10px;
}

#xs-full-width-container, #sm-full-width-container {
  float: right;
}
